.wrapper {
	color: white;
	margin: auto;
	padding: 20px;
	width: fit-content;
	background-color: rgb(77, 63, 252);
	border-radius: 20px;
}

.title {
	text-align: center;
}

.status {
	font-size: large;
	margin-top: 20px;
}

.input-title {
	font-size: large;
	margin-top: 30px;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: transparent;
}

.input-description {
	font-size: large;
	margin-top: 30px;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	resize: vertical;
	min-height: 50px;
	border: transparent;
}

input[type="file"] {
	display: none;
}

.lable-file {
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: large;
}

.input-file {
	display: hidden;
	margin-left: 10px;
}

.sub-btn {
	font-size: large;
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	border-radius: 20px;
	border: transparent;
	background-color: rgb(120, 120, 252, 0.5);
	color: white;
	cursor: pointer;
}
