.container {
  margin-top: 10px;
	margin-left: 100px;
	margin-right: 30px;
  
}

.detail {
  background-color: rgb(250, 250, 250);
  height: 110px;
	border: solid white 2px;  
  border-radius: 5px;
}

.profile-img {
  float: left;
  height: 100px;
	border-radius: 50px;
  margin-left: 20px;
}

.name {
  margin-left: 150px;
  margin-top: 40px;
  color: black;
}

.video-container {
	margin-top: 20px;
}

@media screen and (max-width: 730px) {
  .container{
    margin-left: 10px;
    margin-right: 10px;
  }
  .detail{
    height: max-content;
    display: block;
    text-align: center;
  }
  .name{
    display: block;
    margin:0;
  }
  .profile-img{
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
}
