.playerBlock {
	display: grid;
	grid-template-columns: 65% 35%;
}


.create-link{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	/* border: solid 2px black; */
}

.shared-link{
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
	background-color: #ddd;
}

@media screen and (max-width: 1040px) {
	.playerBlock {
		display: grid;
		grid-template-columns: 100%;
	}
}
