.playerWrapper{
  margin:10px;
  margin-left: 30px;
}

.Player{
	margin-top: 30px;
  /* padding: 0px 10px; */
	width: 100%;
	height: 555px;
}


.title{
  /* padding-left: 20px; */
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 20px;
}

.description{
  font-size: large;
}


@media screen and (max-width: 730px) {
	.playerWrapper{
    margin: auto;
  }
  .Player{
    margin: 0px;
    padding: 0px;
    width: 100%;
	  height: 300px;
  }
  .title{
  }
}