.container {
	display: block;
	width: 90%;
	margin: auto;
	/* border: 2px solid black; */
}

.input-comment {
	border: none;
	resize: none;
	height: 50px;
	width: 90%;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(200, 200, 200, 0.5);
}

.sub-btn {
	margin-top: 10px;
	padding: 5px;
	border: transparent;
	border-radius: 5px;
	background: rgba(77, 63, 252, 1);
	color: white;
	cursor: pointer;
}

.comments {
	margin-top: 10px;
}

.comment {
	background-color: rgba(200, 200, 200, 0.5);
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 7px;
	color: black;
}

.comment div {
	margin-top: 5px;
	margin-left: 10px;
}
@media screen and (max-width: 410px) {
	.container {
		height: 9rem;
		overflow: scroll;
	}
	.comment {
		background-color: rgba(200, 200, 200, 0.5);
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 7px;
		color: black;
	}
}
